# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files #
*.bak

# PyCharm-specific files
/.idea/

# Other sensitive files
.idea/**/dataSources/
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Virtual environment
djvenv/
.env

# Build artifacts
build/
dist/